@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
section{
    padding: 80px 0px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;font-weight: 500;
}
/*********************************************************
                    TOPBAR-MAIN
*********************************************************/
.topbarmain {
    background-color: #f5f5f5;
}
.container {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.topbarWrapper{
    overflow: hidden;
}

.phone {
    width: 200px;
    float: left;
    padding: 15px 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
  .email {
    width: 758px;
    float: left;
    padding: 15px 10px;
  }
  .social {
    width: 140px;
    float: left;
    transition: 0.5s;
  }
  .social a{
      display: block;
      float: left;
      padding: 15px;
      border-right: 1px solid #ddd;
      color: black;
  }
  .social a i:hover{
      color: #ff5200;
  }
  .social a:first-child{
      border-left: 1px solid #ddd;
  }
  .phone i{
      color: #ff5200;
      font-size: 12px;
  }
  .email i{
      color: #d74d3f;
      font-size: 13px;
  }
  .social a .fa-facebook{
      color: #3b5998;
  }
  .social a .fa-twitter{
      color: #00acee;
  }
  .social a .fa-linkedin{
      color: #0e76a8;
  }
  /****************************************************
                        TOPBAR-MENU
  ****************************************************/
.primarywrapper {
    overflow: hidden;
    width: 100%;
  }
  .logo {
    width: 150px;
    float: left;
    margin-top: 22px;
  }
  .menu {
    width: 990px;
    float: left;
  }
  ul.mainmenu-item{
      list-style: none;
      float: right;
  }
  ul.mainmenu-item li{
      float: left;
  }
  ul.mainmenu-item li a{
      display: block;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      text-decoration: none;
      color: #0e0e0e;
      padding: 30px 15px;
      font-size: 16px;
      font-weight: 500;
      transition: 0.5s;
  }
   .fa-angle-down{
      color: crimson;
  }
  ul.mainmenu-item li a:hover{
      color: #f52200;
  }

  /***************************************************
                    BANNER-AREA
  ***************************************************/

 #homeslider{
    background-image: url(../Brigate/image/slide-1.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 0;
 }
 .slider-contant{
     color: white;
     width: 600px;
 }
 .slider-contant h1{
     font-size: 50px;
     font-weight: 700;
     text-transform: uppercase;
     margin-bottom: 30px;
     margin-top: 120px;
     float: left;
 }
 .slider-contant p{
     font-weight: 600;
     line-height: 25px;
     width: 490px;
     margin-bottom: 30px;
 }
 button#workbutton{
     background: #f52200;
     color: white;
     padding: .75em 2.4em;
     font-size: 16px;
     border: none;
     margin-bottom: 120px;
     font-weight: 500;
     border-radius: 6px;
     letter-spacing: .08em;
     transition: 0.5s;
 }
 button#workbutton:hover{
     background-color: black;
 }
 .slidenav{
     width: 200px;
     margin: auto;
     padding: 30px 0px;
 }
 .slidenav span{
     width: 8px;
     height: 8px;
     background: transparent;
     border: 3px solid #ddd;
     display: block;
     border-radius: 100%;
     cursor: pointer;
     float: left;
     margin: 5px 5px;
 }
 .slidenav span:first-child{
     background: #00ff62;
     border-color: #2bff00;
 }
 .slidenav span:last-child{
     background: #f52200;
     border-color: #f52200;
 }
 /********************************************************
                         SERVICES-BOX
 ********************************************************/
 #services{
     background-color: #f5f6f6;
 }
 .serviceswrapper{
     overflow: hidden;
 }
 .singlebox{
     width: 225px;
     background: white;
     padding: 15px;
     float: left;
     margin-right: 30px;
     transition: 0.9s;
 }
 .singlebox i{
     color: #ff5200;
 }
 .singlebox:hover i{
     color: white;
 }
 .singlebox:hover{
     background: #ff5200;
     color: white !important;
 }
 .singlebox:hover h2, i{
     color: white;
 }
 .singlebox:hover .sboxlink a{
     color: white;
 }
 .singlebox:hover i.fa-long-arrow-alt-right{
     color: white;
 }
 .sboxicon{
     text-align: center;
     color: #f52200;
     font-size: 40px;
     margin: 30px 0px;
 }
 .sboxtittle{
     width: 150px;
     margin: auto;
     text-align: center;
 }
 .sboxtittle h2{
     text-align: center;
     text-transform: uppercase;
     line-height: 25px;
     font-size: 20px;
     letter-spacing: 1.1px;
     margin: 25px 0px;
     color: #333;
 }
 .sboxdics{
     text-align: center;
     margin: 30px 0px;
 }
 .sboxlink{
     text-align: center;
     margin: 30px 0px;
 }
 .sboxlink a{
     text-decoration: none;
     color: #ff5200;
     font-weight: 500;
 }
 .active{
     background: #ff5200;
     color: white;
 }
 .singlebox i.fa-long-arrow-alt-right{color: #ff5200;}
 .active h2{color: white;}
 .active i{color: white;}
 .active a{color: white;}
 .active i.fa-long-arrow-alt-right{color: white;}

 .teemcontants{
     overflow: hidden;
 }
 .teemimg{
     width: 530px;
     float: left;
 }
 .teemimg img{
     max-width: 100%;
 }
 .teemdetails{
     width: 550px;
     float: right;
 }
 .tittledece h2{
     font-size: 45px;
     margin-bottom: 15px;
     text-transform: uppercase;
 }
 .tittledece p{
     line-height: 25px;
     color: #666;
     margin-bottom: 15px;
 }
 .teemfacilities{
     overflow: hidden;
     margin-bottom: 25px;
 }
 .teemfacilities ul{
     float: left;
     margin: 0;
     padding: 0;
     list-style: none;
     width: 260px;
 }
 .teemfacilities ul li{
     line-height: 30px;
 }
 .teemfacilities ul li a{
     text-decoration: none;
     color: #3b5998;
     font-weight: 500;
 }
 .teemfacilities ul li:hover a{
    color: #ff5200;
 }
 .teemfacilities ul li:hover i{
    color: #ff5200;
 }
 .teemfacilities ul li a i{
     font-size: 12px;
     color: black;
 }
 .teamcontactbtn a{
     background-color: #ff5200;
     text-transform: uppercase;
     font-family: 'Oswald', sans-serif;
     color: white;
     display: block;
     text-align: center;
     padding: 0.60em 1.0em;
     text-decoration: none;
     font-weight: 500;
     font-size: 20px;
     width: 140px;
     border-radius: 5px; 
     transition: 0.8s;    
 }
 .teamcontactbtn{
     margin-top: 60px;
 }
 .teamcontactbtn a:hover{
     background-color: black;
     color: white;
 }
 

 #whychoseus{
     background-image:linear-gradient(#00000073,#00000073),url(../Brigate/image/why-choose-us1.jpg);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
 }
 .iconwrapper{
     overflow: hidden;
     
 }
 .singleicon{
     width: 220px;
     text-align: center;
     color: white;
     float: left;
     margin-right: 50px;
 }
 .singleicon h2{
     font-size: 55px;
     font-weight: 900;
     margin: 15px 0px;
     font-family: 'Oswald', sans-serif;
 }
 .sicon{
     font-size: 40px;
 }

 #blogpostus{
     background-color:#f5f6f6;
 }
.secitem{
    text-align: center;
    margin-bottom: 60px;
}
.secitem h2{
position: relative;
font-size: 40px;
padding-bottom: 10px;
margin-bottom: 10px;
text-transform: uppercase;
padding-top: 0px;
}
.secitem h2::after{
    content: "";
    position: absolute;
    width: 50px;
    background-color: #f52200;
    bottom: 0;
    border-bottom: 4px solid #f52200;
    left: 50%;
    transform: translateX(-50%);

}
.secitem  p{
    width: 550px;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    color: #656565;
    line-height: 1.5;
}
.postwrapper{
    overflow: hidden;
}
.singlepost{
    width: 260px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}
.singlepost img{
    width: 100%;
}
.singlepost:last-child{margin: 0px;}
.postimg{
    margin-bottom: 10px;
}
.postinfo h3{
    font-size: 20px;
    text-transform: uppercase;
}
.postinfo p{
    margin-top: 10px;
    line-height: 23px;
    color: #666;
}
/*********************************************
                PRICING-AREA
*********************************************/
.tablelist{
    display: table;
    background: #fafafa;
}
.singletable{
    background: white;
    width: 296px;
    margin-right: 30px;
    overflow: hidden;
    float: left;
    border: 1px solid rgb(216, 208, 208);
    padding: 30px;
}
.singletable:first-child{
    box-shadow: -20px 0px 8px #fafafa;
}
.singletable:last-child{
    box-shadow: 20px 0px 0px #fafafa;
}
.singletable:last-child{
margin-right: 0px;
}
.singletable h3{
    font-size: 25px;
}
.singletable h1{
    font-size: 40px;
    font-family: arial,black;
    font-weight: 900;
    margin: 8px 0px;
}
.singletable h1 span{
    font-size: 15px;
    margin-left: 10px;
    font-weight: 700 !important;
    font-family: arial;
}
.singletable ul{
    list-style: none;
}
.singletable ul li{
    line-height: 40px;
    color: #777;
}
.singletable ul li i{
    color: #ff5200;
    font-size: 13px;
    
}
#tablegetstarted{
    background: #ff5200;
    color: white;
    padding: 15px 30px;
    border: none;
    font-weight: 800;
    font-family: oswald;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 20px 0;
    border-radius: 5px;
    transition: .5s;
}
#tablegetstarted:hover{
    color: white;
    background: black;
    cursor: pointer;
}
/***********************************************************
               Check out our latest Idea
************************************************************/
.ideasLeftImg{
    background-image: url(../Brigate/image/s02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#ideas{
    overflow: hidden;
    position: relative;
    height: 400px;
}
.ideasLeftImg{
    width: 50%;
    float: left;
    position: absolute;
    height: 400px;
}
.ideasRightContent{
    float: right;
    width: 50%;
    overflow: hidden;
    background-color: #222222;
    color: white;
}
.rcontent-tittle{
    padding: 70px;
    padding-bottom: 0px;
    margin-bottom: 39px;
}
.rcontent-tittle h1{
    font-size: 35px;
    margin-bottom: 15px;
}
.rcontenticons{
    padding: 0px 70px;
    overflow: hidden;
    padding-bottom: 70px;
}
.riconsingle{
    width: 300px;
    float: left;
    overflow: hidden;
    margin-bottom: 45px;
}
.ricon{
    width: 60px;
    overflow: hidden;
    float: left;
    font-size: 40px;
    color: red;
}
.ricontitle{
    width: 200px;
    overflow: hidden;
    float: right;
}
.ricontitle h2{
    font-size: 20px;
    margin-bottom: 10px;
}


#ourteam{
    background-color: #f5f6f6;
}

.teamperson{
    overflow: hidden;
}
.singleperson{
    margin-right: 30px;
    width: 250px;
    overflow: hidden;
    float: left;
}
.singleperson img{
    width: 100%;
    transition: 0.5s;
}
.singleperson:last-child{

}
.personinfo{
    padding: 20px 15px;
    text-align: center;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}
.personinfo h3{
    font-size: 18px;
}
.personinfo p{
    font-size: 14px;
    margin-top: 8px;
    color: #777;
}
.teampersonbutton{
    margin-top: 70px;
    display: grid;
    place-items: center;
}
.teampersonbutton button{
    background: crimson;
    color: white;
    border: none;
    padding: 15px 20px;
    font-family: oswald;
    letter-spacing: 1px;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
}
.teampersonbutton button:hover{
    background: #333;
    color: white;
}
.fa-facebook{
    color: red;
}
.personimg{
    overflow: hidden;
    position: relative;
}
.socialicon{
    width: 140px ;
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.socialicon a{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    overflow: hidden;
    background: red;
    display: grid;
    place-items: center;
    text-decoration: none;
    border-radius: 100%;
    padding: 5px;
    color: blue;
    margin-right: 5px;
}
.socialicon a:first-child{
    background: #3b5998;
    opacity: 0;
    transition: .90s;
}
.socialicon a:nth-child(2){
    background: #4285F4;
    opacity: 0;
    transition: .70s;
}
.socialicon a:nth-child(3){
    background: #00acee;
    opacity: 0;
    transition: .50s;
}
.socialicon a:last-child{
    background: #0077b5;
    opacity: 0;
    transition: .30s;
}
.socialicon a:hover{
    background: white;
    color: black !important;
}
.socialicon a i{
    color: white;
}
.singleperson:hover .socialicon a:first-child{
    transform: translateY(20px);
    opacity: 1;
}
.singleperson:hover .socialicon a:nth-child(2){
    transform: translateY(20px);
    opacity: 1;
}
.singleperson:hover .socialicon a:nth-child(3){
    transform: translateY(20px);
    opacity: 1;
}
.singleperson:hover .socialicon a:last-child{
    transform: translateY(20px);
    opacity: 1;
}
.singleperson:hover .personimg img{
    transform: scale(1.1);
}
.singleperson:hover{cursor: pointer;}


.projectwrapper{
    overflow: hidden;
}
.singleproject{
    width: 350px;
    float: left;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
}
.singleproject:last-child{
    margin-right: 10px;
}
.singleproject:hover .projectinfo{
    padding: 40px 30px !important;
}
.singleproject img{
    width: 100%;

}
.projectinfo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 30px;
    background: linear-gradient(to top,black,transparent 150px);
    color: white;
    padding-bottom: 0px;
    transition: .5s;
}
.projectmeta{
    width: 250px;
    margin-bottom: 15px;
}
.projectmeta a{
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}
.projectnuru{
    overflow: hidden;
    margin-top: 30px;
}
#larnmorebtn{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    transform: translateX(-150px);
    transition: 0.3s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
}
#larnmorebtn i{
    font-size: 14px;
}
.singleproject:hover #larnmorebtn{
    transform: translateX(0px) !important;
}




.newswrapper{
    overflow: hidden;
}
.singlenews{
    width: 350px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.singlenews:hover img{
    transform: scale(1.2);
}

.singlenews:last-child{
    margin-right: 0 !important;
}
.newsmeta{
    padding: 30px;
    border-left: 1px solid #dddd;
    border-right: 1px solid #dddd;
    border-bottom: 1px solid #dddd;
    overflow: hidden;
}
.newscatagory{
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}
.newscatagory a{
    width: 130px;
    display: block;
    float: left;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.86667rem;
    color: #f52200;

}
.newscatagory::after{
    content: "";
    position: absolute;
    width: 20px;
    border-bottom: 3px solid #f52200;
    left: 95px;
    top: 7px;


}
.newscatagory a:first-child{
    color: #999;
}
.newscatagory a:last-child{
    color: #777;
}
.newscatagory a:last-child:hover{
    color: #f52200;
}
.newsimg{
    overflow: hidden;
}
.newsimg img{
    width: 100%;
    transition: 5s;
    cursor: pointer;
}
.newstitle h2{
    color: #f52200;
    margin-bottom: 10px;
}
.newstitle h2:hover{
    color: black;
}
.newstitle p{
    margin-bottom: 15px;
    color: #777;
}
#readmorebtn{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #f52200
}
#readmorebtn i{
    color: #f52200;
    font-size: 12px;
}


.boxicon a i{
    color: #f52200;
}
.fbox span i{
    color: #f52200;
}
.frposttittle A I{
    color: #f52200;
}
.fbox li a i{
    color: #f52200;
}
#footer{
    background: #1a1a1a;
    padding-top: 200px;
    color: white;
}

.footercontainer{
    border-top: 1px solid #333;
    color: #999;
    overflow: hidden;
}
.footercontainer .container{
    overflow: hidden;
}
.copyrighttext{
    width: 570px;
    float: left;
    padding: 30px 0px;
}
.copyrighyitem{
    width: 570px;
    float: right;
}
.copyrighyitem ul{
    list-style: none;
    float: right;
    overflow: hidden;
}
.copyrighyitem ul li{
    float: left;
}
.copyrighyitem ul li a{
    display: block;
    color: #999;
    padding: 30px 15px;
    text-decoration: none;
}

.boxwrapper{
    overflow: hidden;
    margin-bottom: 50px;
}
.fbox{
    overflow: hidden;
    width: 250px;
    float: left;
    margin-right: 30px;
    color: #999;
}
.fbox:last-child{
    margin-right: 0px;
}
.fbox h3{
    margin-bottom: 20px;
    color: white;
}